{% extends "base/base.html" %}
{% load static %}

{% block content %}
<div class="bg-white">

    <img src="{% static "imgs/img1.jfif" %}" alt="">
    <img src="{% static "imgs/img2.jfif" %}" alt="">
    <img src="{% static "imgs/img3.jfif" %}" alt="">
    <p>Parabéns! 
        Feliz aniversário, tudo de bom na sua vida, muita luz, amor, montanhas pra escalar, viagens para se realizar, amigos para comemorar, praias e cachoeiras para se refrescar, um japonês e vinho para se deliciar, muitos sonhos para se sonhar e realizar e alegria para se viver. Que vc aproveite muito seu dia, com seus amigos e familiares. Que Deus te abençoe grandemente e realize tudo que almeja. 
        Eu gostaria de ter feito algo especial, mas o que eu gostaria eu não poderei, mas mesmo assim, espero deixar seu dia mais feliz! 
        Feliz 29 anos do sorriso bonito e por tudo que és, e que esse ano te traga ainda mais realizações, com muitas bençãos e momentos felizes! 
        "In a different place or time, maybe in another life, I'll bet that you and I would have worked. We never get the chance to try and what makes it worse is you would have loved me if you met me first."
    </p>

    
</div>

{% endblock content %}
